<!-- dismissible banner -->
<section class="vf-banner vf-banner--fixed vf-banner--bottom vf-banner--phase" data-vf-js-banner data-vf-js-banner-state="dismissible" data-vf-js-banner-button-text="Close notice">
  <div class="vf-banner__content" data-vf-js-banner-text>
    <div>
      <h3 class="vf-text vf-text-heading--4">
        Building something with the EMBL Design Language for Websites?
      </h3>
      <p class="vf-banner__text">Here's the core CSS and JS you need. Don't forget to <a href="{{ '/' | url }}" class="vf-link">review the documentation</a>.</p>
      {% codeblock 'html' -%}
<link rel="stylesheet" href="UPDATE URL">
<script src="UPDATE URL"></script>
      {% endcodeblock %}
    </div>
  </div>
</section>
