---
is_index: true
title: "Print: Templates and guidance"
subtitle: Guidance on all printed assets, including Microsoft Word documents, Powerpoint presentations, posters and stationary.
section: print
tags: sections
date: 2018-08-22 12:24:50
layout: layouts/section.njk
---

_Future development notes:_ A Wordpress site hosts the guidelines. Printed templates including Photoshop, Powerpoint and ZIP files as well as colour palettes are hosted on Bynder.
