<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>{% include "css/app.css" %}</style>
    <link rel="stylesheet" media="all" href="https://dev.assets.emblstatic.net/vf/develop/css/styles.css" />
    <title>{{ title or (renderData and renderData.title) or siteConfig.siteInformation.title}}</title>
  </head>
  <body class="{{ bodyClass }}" >

    {% render '@vf-global-header' %}
    <div class="vf-masthead" style="background-color: var(--vf-masthead__color--background, var(--vf-masthead__color--background-default)); color: var(--vf-masthead__color--foreground, var(--vf-masthead__color--foreround-default) );">
      <div class="vf-masthead__inner">
        <div class="vf-masthead__title">
          <h1 class="vf-masthead__heading">
            <a href="#" class="vf-masthead__heading__link">{{title}}</a>
            <span class="vf-masthead__heading--additional">{{subtitle}}</span>
          </h1>
        </div>
      </div>
    </div>

    <div class="vf-body">

      <div class="vf-grid">
        <div>
          {{ content | safe }}
        </div>
      </div>
    </div>
  </body>
</html>
