<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>{% include "css/app.css" %}</style>
  <link rel="stylesheet" media="all" href="https://dev.assets.emblstatic.net/vf/develop/css/styles.css" />
  <title>{{ title or (renderData and renderData.title) or siteConfig.siteInformation.title}}</title>
</head>
<style>.vf-intro {margin-top: 3rem;}</style>
<body class="{{ bodyClass }}" >

  <header class="vf-global-header">
    <div class="vf-global-header__inner">
      {% render '@embl-logo--responsive' %}
      <p class="vf-global-header__site-name">{{ text }}</p>
      {# {% render '@vf-navigation--global' %} #}
    </div>
  </header>

  {# <div class="vf-body">
    <div class="vf-grid">
      <nav class="vf-breadcrumbs" aria-label="Breadcrumb">
        <ul class="vf-breadcrumbs__list | vf-list vf-list--inline">
          <li class="vf-breadcrumbs__item">
            <a href="https://dev.beta.embl.org/guidelines" class="vf-breadcrumbs__link">Guidelines</a>
          </li>
          <li class="vf-breadcrumbs__item">
          <a href="/" class="vf-breadcrumbs__link">EMBL Design System</a>
          </li>
        </ul>
      </nav>
    </div>
  </div> #}

  <header class="vf-header">
    <div class="vf-masthead" style="background-color: var(--vf-masthead__color--background, var(--vf-masthead__color--background-default)); color: var(--vf-masthead__color--foreground, var(--vf-masthead__color--foreround-default) );
    --vf-masthead__bg-image: url('/assets/background.jpg');
    ">
    <div class="vf-masthead__inner">
      <div class="vf-masthead__title">
        <h1 class="vf-masthead__heading">
          <a href="{{siteConfig.siteInformation.url}}" class="vf-masthead__heading__link">{{siteConfig.siteInformation.title}}</a>
          <span class="vf-masthead__heading--additional">{{siteConfig.siteInformation.short_description}}</span>
        </h1>
      </div>
    </div>
  </div>

</header>
<div class="vf-body">

  <div class="vf-grid">
    <nav class="vf-navigation vf-navigation--main">
      <ul class="vf-navigation__list | vf-list--inline">
        <li class="vf-navigation__item {% if section == "gettingstarted" %}is-active{% endif %}"><a href="/getting-started/" class="vf-navigation__link">Getting started</a></li>
        <li class="vf-navigation__item {% if section == "guidelines" %}is-active{% endif %}"><a href="/brand-guidelines/" class="vf-navigation__link">Brand guidelines</a></li>
        <li class="vf-navigation__item {% if section == "styles" %}is-active{% endif %}"><a href="/styles/" class="vf-navigation__link">Styles</a></li>
      </ul>
    </nav>
  </div>

  <div class="vf-grid">
    <div>

      {% if is_index != true %}
      <nav class="vf-breadcrumbs" aria-label="Breadcrumb">
        <ul class="vf-breadcrumbs__list | vf-list vf-list--inline">
          {# <li class="vf-breadcrumbs__item">
            <a href="/" class="vf-breadcrumbs__link">Home</a>
          </li> #}
          <li class="vf-breadcrumbs__item">
            {% if section == "gettingstarted" %}
              <a href="/getting-started/" class="vf-breadcrumbs__link">Getting started</a>
            {% endif %}
            {% if section == "guidelines" %}
              <a href="/brand-guidelines/" class="vf-breadcrumbs__link">Brand guidelines</a>
            {% endif %}
            {% if section == "styles" %}
              <a href="/styles/" class="vf-breadcrumbs__link">Styles</a>
            {% endif %}
          </li>
          <li class="vf-breadcrumbs__item">
            {{ title }}
          </li>
        </ul>
      </nav>
      {% endif %}

    </div>
  </div>
  
  {{ content | safe }}

</div>
</body>
</html>
