<!doctype html>
<html lang="en" class="vf-no-js">
<head>
  {% render '@vf-no-js' %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if serverInfo.environment == "development" %}
  <link rel="stylesheet" media="all" href="{{ '/css/styles.css' | url }}" />
  {% else %}
  <link rel="stylesheet" href="https://dev.assets.emblstatic.net/embl-design-system/develop/css/styles.css">
  {% endif %}
  {# <link rel="stylesheet" media="all" href="https://dev.assets.emblstatic.net/vf/develop/css/styles.css" /> #}
  <title>{{ pagination.items[0].name or title or (renderData and renderData.title)}} | {{ siteConfig.siteInformation.title }} | EMBL</title>

  {% render '@embl-favicon' %}

  <!-- Content descriptors -->
  <meta name="embl:who" content="Head of EMBL Comms"> <!-- the people, groups and teams involved -->
  <meta name="embl:where" content="EMBL"> <!-- at which EMBL sites the content applies -->
  <meta name="embl:what" content="EMBL Design System"> <!-- the activities covered -->
  <meta name="embl:active" content="what"> <!-- which of the who/what/where is active -->

  <!-- Content role -->
  <meta name="embl:utility" content="-8"> <!-- if content is task and work based or if is meant to inspire -->
  <meta name="embl:reach" content="-5"> <!-- if content is externally (public) or internally focused (those that work at EMBL) -->

  <!-- Page infromation -->
  <meta name="embl:maintainer" content="Communications Digital Team"> <!-- the contact person or group responsible for the page -->
  <meta name="embl:last-review" content="2019-08-08"> <!-- the last time the page was reviewed or updated -->
  <meta name="embl:review-cycle" content="90"> <!-- how long in days before the page should be checked -->
  <meta name="embl:expiry" content="null"> <!-- if there is a fixed point in time when the page is no longer relevant -->

</head>
<style>.vf-intro {margin-top: 3rem;}</style>
<body class="{{ bodyClass }}" >

  <!-- embl global banner -->
  <link rel="import" href="https://www.embl.org/api/v1/pattern.html?filter-content-type=article&filter-id=574&pattern=node-body&source=contenthub" data-target="self" data-embl-js-content-hub-loader>

  <section class="vf-body">

    <div class="vf-grid vf-u-margin__top--lg">
    <!-- embl global banner -->
    <link rel="import" href="https://www.embl.org/api/v1/pattern.html?filter-content-type=article&filter-id=580&pattern=node-body&source=contenthub" data-target="self" data-embl-js-content-hub-loader>
    </div>

    {# <div class="vf-body">
      <div class="vf-grid">
        <nav class="vf-breadcrumbs" aria-label="Breadcrumb">
          <ul class="vf-breadcrumbs__list | vf-list vf-list--inline">
            <li class="vf-breadcrumbs__item">
              <a href="https://dev.beta.embl.org/guidelines" class="vf-breadcrumbs__link">Guidelines</a>
            </li>
            <li class="vf-breadcrumbs__item">
            <a href="/" class="vf-breadcrumbs__link">EMBL Design System</a>
            </li>
          </ul>
        </nav>
      </div>
    </div> #}

  {#
    <div class="vf-masthead" style="background-color: var(--vf-masthead__color--background, var(--vf-masthead__color--background-default)); color: var(--vf-masthead__color--foreground, var(--vf-masthead__color--foreround-default) );">
      <div class="vf-masthead__inner">
        <div class="vf-masthead__title">
          <h1 class="vf-masthead__heading">
            <a href="/" class="vf-masthead__heading__link">{{siteConfig.siteInformation.title}}</a>
            <span class="vf-masthead__heading--additional">{{siteConfig.siteInformation.short_description}}</span>
          </h1>
          <h2 class="vf-masthead__subheading">
            <span class="vf-masthead__location">VF Hamburg</span>
            <span class="vf-masthead__group">Structural Biology</span>
          </h2>
        </div>
      </div>
    </div>



    <nav class="vf-navigation vf-navigation--main">
      <ul class="vf-navigation__list | vf-list--inline">
        <li class="vf-navigation__item {% if section == "gettingstarted" %}is-active{% endif %}"><a href="/getting-started/" class="vf-navigation__link">Getting started</a></li>
        <li class="vf-navigation__item {% if section == "guidelines" %}is-active{% endif %}"><a href="/brand-guidelines/" class="vf-navigation__link">Brand guidelines</a></li>
        <li class="vf-navigation__item {% if section == "styles" %}is-active{% endif %}"><a href="/styles/" class="vf-navigation__link">Styles</a></li>
      </ul>
    </nav> #}


    {# <nav class="vf-breadcrumbs embl-breadcrumbs-lookup" aria-label="Breadcrumb" data-embl-js-breadcrumbs-lookup>
      <div class="vf-list vf-list--inline | vf-breadcrumbs__list | embl-breadcrumbs-lookup--ghosting"></div>
    </nav> #}


    {% if page.url != '/' %}
    {# don't show breadcrumb on homepage #}
    <nav class="vf-breadcrumbs" aria-label="Breadcrumb">
      <ul class="vf-breadcrumbs__list | vf-list vf-list--inline">


        <!-- 1. the parent should come from the contentHub, which is already done by the breadcrumbs lookup -->
        <li class="vf-breadcrumbs__item">Communications</li>

        <!-- 2. but what isn't possible is to add local child crumbs, which we can really do yet -->
        <!-- perhaps this can be added as `embl-breadcrumbs-local`, and then appended to the result from the contentHub -->
        <li class="vf-breadcrumbs__item">
          <a href="{{ '/' | url }}" class="vf-breadcrumbs__link">{{siteConfig.siteInformation.title}}</a>
        </li>
        {# don't show section link on a section #}
        {% if is_index != true %}
          {# load section breadcrumbs from siteConfig.js #}
          <li class="vf-breadcrumbs__item">
            <a href="{{ siteConfig.sections[section].url | url }}" class="vf-breadcrumbs__link">{{ siteConfig.sections[section].title }}</a>
          </li>
        {% endif %}
        <li class="vf-breadcrumbs__item">
          {% if pagination.items[0].name %}
            {{ pagination.items[0].name }}
          {% else %}
            {{ title }}
          {% endif %}
        </li>
      </ul>

      <!-- 3. and then we want to lookup related, which is also possible currently -->
      <span class="vf-breadcrumbs__heading">Related:</span><ul class="vf-breadcrumbs__list vf-breadcrumbs__list--related vf-list vf-list--inline"><li class="vf-breadcrumbs__item"><a href="#addBreadcrumbPatternForSimpleTerms" class="vf-breadcrumbs__link">Head of EMBL Comms</a></li><li class="vf-breadcrumbs__item"><a href="#addBreadcrumbPatternForSimpleTerms" class="vf-breadcrumbs__link">All EMBL sites</a></li></ul>
    </nav>
    {% endif %}

    {{ content | safe }}
  </section>
  {% include "footer.njk" %}
</body>
</html>
