---
layout: layouts/base.njk
pageClass: components
templateEngineOverride: njk
---

<div class="vf-grid">
  <section class="vf-content component-library-notes">

    {{ content | safe }}

    {% set component = pagination.items[0] %}
    {% set collectionComponents = component.items %}

    {% set variants = component.variants.items %}


    {# alpha, beta, live #}
    {% render '@vf-badge--primary', {
      "style": [
        "pill"
      ],
      "text": "Status: " + variants[0].status.label
    } %}

    {# type: element, block, etc. #}
    {% render '@vf-badge--primary', {
      "style": [
        "pill"
      ],
      "text": "Type: " + variants[0].context['component-type']
    } %}



    {% if component.notes %}
      {{ component.notes | string | markdown | safe }}
    {% else %}
      {% markdown %}
        # {{ component.title }}
      {% endmarkdown %}
    {% endif %}

    <hr/>
    <small>{% markdown %}
      File system location: `components/{{ component.baseHandle }}`
    {% endmarkdown %}</small>


    {% if collectionComponents %}

      {% render '@vf-heading--display', {
        "type": "display",
        "heading": "There are sub-components",
        "style": "invert",
        "tags": "h1"
      } %}

      <ul class="vf-list vf-list--unordered">
        {%- for component in collectionComponents %}
          {% if component.isHidden == false %}
            <li class="vf-list__item"><a class="vf-link" href="{{ component.handle}}">{{ component.title }}</a> <code> {{ component.name }} </code></li>
          {% endif %}
        {% endfor -%}
      </ul>

    {% endif %}
  </section>
</div>

{% if variants %}
  <div class="vf-grid">
    <section>
      {% render '@vf-heading--display', {
        "type": "display",
        "heading": "Variants",
        "style": "invert",
        "tags": "h1"
      } %}
    </section>
  </div>

  {%- for variant in variants %}

    <div class="vf-grid">

      <section class="vf-content">

        <hr class="vf-divider" />

        <h3>
          Variant: {{ variant.label }}
        </h3>

      </section>
    </div>

    <div class="vf-grid">

      <section>

        <div class="vf-tabs">
          <ul class="vf-tabs__list" data-vf-js-tabs>
            <li class="vf-tabs__item">
              <a class="vf-tabs__link" href="#vf-tabs__section--1">Sample output</a>
            </li>
            <li class="vf-tabs__item">
              <a class="vf-tabs__link" href="#vf-tabs__section--html">HTML</a>
            </li>
            <li class="vf-tabs__item">
              <a class="vf-tabs__link" href="#vf-tabs__section--2">Nunjucks template</a>
            </li>
            <li class="vf-tabs__item">
              <a class="vf-tabs__link" href="#vf-tabs__section--assets">Component assets</a>
            </li>
          </ul>
        </div>

        <div class="vf-tabs-content" data-vf-js-tabs-content>
          <section class="vf-tabs__section vf-content" id="vf-tabs__section--1">
            {% if variant.context['component-type'] == 'grid' %}
              <div class="vf-gridxx" style="grid-column: -1/1;">
                {% render '@'+variant.handle, variant.context %}
              </div>
            {% else %}
              <div class="vf-grid">
                <section class="">
                  {% render '@'+variant.handle, variant.context %}
                </section>
              </div>
            {% endif %}

          </section>
          <section class="vf-tabs__section vf-content" id="vf-tabs__section--html">

            {# Show and escaped version of the html #}
            <pre>
              {%- render '@'+variant.handle, variant.context, false, { escape: false, beautify: true, highlight: true } %}
            </pre>

          </section>
          <section class="vf-tabs__section vf-content" id="vf-tabs__section--assets">

            {% markdown %}

              ### Assets

              - [Nunjucks template]({{ '/src/' + variant.viewPath.split('/src/')[1] | url }})
              {%- for asset in variant.resources.assets %}
                - [{{asset.base}}]({{asset.srcPath}})
              {%- endfor %}

            {% endmarkdown %}

          </section>
          <section class="vf-tabs__section vf-content" id="vf-tabs__section--2">

            {# Strip out the "component type" from the Nunjucks code snippet #}
            {% set regExp = r/("component-type"\: ".*",\s*)/ %}

            <pre><code>
            {%- raw %}{% render '@{% endraw %}{{variant.handle}}', {{variant.context | dump(2) | replace(regExp,'') }} {% raw %}%}{% endraw %}
            </code></pre>
          </section>
        </div>

      </section>

    </div>

  {% endfor -%}
{% endif %}

<div class="vf-grid">
  <section>
    {% markdown %}

      ## All components in this design system

    {% endmarkdown %}

    Add link to component index
  </section>
</div>

<div class="vf-grid">
  <div class="footnote">
    <p class="vf-text--body">
      This page is part of the components section.
    </p>
  </div>
</div>
