---
layout: layouts/base.njk
pageClass: components
templateEngineOverride: njk
---

<div class="vf-grid">
  <section class="vf-content component-library-notes">

    {{ content | safe }}

    {% set component = pagination.items[0] %}
    {% set collectionComponents = component.items %}

    {% set variants = component.variants.items %}


    {# alpha, beta, live #}
    {% render '@vf-badge--primary', {
      "style": [
        "pill"
      ],
      "text": "Status: " + variants[0].status.label
    } %}

    {# type: element, block, etc. #}
    {% render '@vf-badge--primary', {
      "style": [
        "pill"
      ],
      "text": "Type: " + variants[0].context['component-type']
    } %}

    <div class="vf-u-margin__top--xxl"></div>

    {% if component.notes %}
      {# Show the portion of the readme before Installation notes #}
      {% set trimmedNotes = component.notes.split('## Install')[0] %}
      {{ trimmedNotes | string | markdown | safe }}
    {% else %}
      {% markdown %}
        # {{ component.title }}
      {% endmarkdown %}
    {% endif %}

    {% if collectionComponents %}

      {% render '@vf-heading--display', {
        "type": "display",
        "heading": "There are sub-components",
        "style": "invert",
        "tags": "h1"
      } %}

      <ul class="vf-list vf-list--unordered">
        {%- for component in collectionComponents %}
          {% if component.isHidden == false %}
            <li class="vf-list__item"><a class="vf-link" href="{{ component.handle}}">{{ component.title }}</a> <code> {{ component.name }} </code></li>
          {% endif %}
        {% endfor -%}
      </ul>

    {% endif %}
  </section>
</div>

{% if variants %}
  <div class="vf-grid | vf-u-margin__top--xxl">
    <section>
      <h1 class="vf-text vf-text-heading--1 vf-text--invert">Variants in this component</h1>
    </section>
  </div>

  {%- for variant in variants %}

    <div class="vf-grid">

      <section class="vf-content">

        <h3>
          {{ variant.label }} <code class="vf-code"> {{ variant.handle }} </code>
        </h3>

      </section>
    </div>

    <div class="vf-grid">

      <section>

        <div class="vf-tabs">
          <ul class="vf-tabs__list" data-vf-js-tabs>
            <li class="vf-tabs__item">
              <a class="vf-tabs__link" href="#vf-tabs__section--rendered">Sample output</a>
            </li>
            <li class="vf-tabs__item">
              <a class="vf-tabs__link" href="#vf-tabs__section--html">HTML</a>
            </li>
            <li class="vf-tabs__item">
              <a class="vf-tabs__link" href="#vf-tabs__section--nunjucks">Nunjucks template</a>
            </li>
            <li class="vf-tabs__item">
              <a class="vf-tabs__link" href="#vf-tabs__section--assets">Component assets</a>
            </li>
          </ul>
        </div>

        <div class="vf-tabs-content" data-vf-js-tabs-content>
          <section class="vf-tabs__section" id="vf-tabs__section--rendered">
            {% if variant.context['component-type'] == 'grid' %}
              <div class="vf-gridxx" style="grid-column: -1/1;">
                {% render '@'+variant.handle, variant.context %}
              </div>
            {% else %}
              <div class="vf-grid">
                <section class="">
                  {% render '@'+variant.handle, variant.context %}
                </section>
              </div>
            {% endif %}

          </section>
          <section class="vf-tabs__section vf-content" id="vf-tabs__section--html">

            {# Show and escaped version of the html #}
            <pre>
              {%- render '@'+variant.handle, variant.context, false, { escape: false, beautify: true, highlight: true } %}
            </pre>

          </section>
          <section class="vf-tabs__section vf-content" id="vf-tabs__section--nunjucks">

            {# Strip out the "component type" from the Nunjucks code snippet #}
            {% set regExp = r/("component-type"\: ".*",\s*)/ %}

            <pre><code>
            {%- raw %}{% render '@{% endraw %}{{variant.handle}}', {{variant.context | dump(2) | replace(regExp,'') }} {% raw %}%}{% endraw %}
            </code></pre>
          </section>
          <section class="vf-tabs__section vf-content" id="vf-tabs__section--assets">

            {% markdown %}

              - [Nunjucks template]({{ '/' | url}}{{ 'src/' + variant.viewPath.split('/src/')[1] }})
              {%- for asset in variant.resources.assets %}
              - [{{asset.base}}]({{ '/' | url}}{{ 'src/' + asset.srcPath }})
              {%- endfor %}

            {% endmarkdown %}

          </section>
        </div>

      </section>

    </div>

    <hr class="vf-divider" />

  {% endfor -%}
{% endif %}

{% if component.notes %}
  <div class="vf-grid | vf-u-margin__top--xxl">
    <div class="vf-content">
      {# Show the Installation notes portion of the readme #}
      {% set trimmedNotes = component.notes.split('Install') %}
      {% if trimmedNotes[1] %}

        <h1 class="vf-text vf-text-heading--1 vf-text--invert">Install</h1>

        {{ trimmedNotes[1] | string | markdown | safe }}

        <hr class="vf-divider" />
      {% endif %}
    </div>
  </div>
{% endif %}


<div class="vf-grid">
  <p class="vf-text">
    <a href="{{ '/components' | url }}" class="vf-link">View all components in this design system</a>
  </p>
</div>
