---
title: Colours
subtitle: Besides logo, typeface and graphical elements, colours are one the most important parts of a corporate design.
section: guidelines
date: 2018-08-22 12:24:50
tags: posts
layout: layouts/boilerplate.njk
---

<link rel="stylesheet" href="https://dev.assets.emblstatic.net/embl-design-system/develop/css/styles.css">

