---
title: Typography
section: guidelines
subtitle: EMBL uses open-source typeface [IBM Plex](https://github.com/ibm/plex). IBM Plex is a [super-family](https://en.wikipedia.org/wiki/Font_superfamily) typeface designed to meet the needs of a modern brand typeface.
date: 2018-08-22 12:24:50
tags: posts
layout: layouts/post.njk
---

