---
is_index: true
title: Component overview
subtitle: A directory of all web components in the EMBL Design System.
intro: Components provide Nunjucks templates as well as CSS, Sass, JS and image resources.
date: 2019-07-22 12:24:50
section: components
tags: sections
templateEngineOverride: njk
layout: layouts/section.njk
hideSubPosts: true
---

## All components

{% macro componentSection(type='element',displayName='Elements',summary='') %}
### {{ displayName | safe }}

{{ summary | safe }}

<table>
{%- for item in fractalEnvironment.localComponents %}
  {% set componentType = item.variants.items[0].context['component-type'] + "" %}
  {# the `+ ""` ensures the type is always a string #}
  {%- if item.isHidden == false %}
    {% if type in componentType %}
<tr>
  <td><a class="vf-link" href="{{ item.handle}}">{{ item.title }}</a></td>
  <td><code> {{ item.name }} </code></li></td>
</tr>
    {% endif %}
  {% endif %}
{% endfor -%}
</table>
{% endmacro %}


<div class="vf-content">

{{ componentSection(summary='The micro elements of the component library.') }}

{{ componentSection('block','Blocks','Simple components like sections headers, galleries and so on.') }}

{{ componentSection('container','Containers','More complex components that sometimes have specific layout, like page intros, mastheads, news sections and so on.') }}

{{ componentSection('grid','Grids','Put stuff in columns.') }}

</div>

## Need pre-buit CSS and JS?

If you don't need to indivdually include components, you can use the rollup CSS and JS:

- `<link rel="stylesheet" media="all" href="{{ siteConfig.siteInformation.url}}css/styles.css" />`
- `<script src="{{ siteConfig.siteInformation.url}}scripts/scripts.js"></script>`
