---
is_index: true
title: Component overview
subtitle: A directory of all web components in the EMBL Design System.
intro: Components provide Nunjucks templates as well as CSS, Sass, JS and image resources.
date: 2019-07-22 12:24:50
section: components
tags: sections
templateEngineOverride: njk
layout: layouts/section.njk
hideSubPosts: true
---

## All components

<div class="vf-content">
<ul>
{%- for item in fractalEnvironment.localComponents %}
  {%- if item.isHidden == false %}
<li><a class="vf-link" href="{{ item.handle}}">{{ item.title }}</a> <code> {{ item.name }} </code></li>
  {% endif %}
{% endfor -%}
</ul>
</div>

## Need pre-buit CSS and JS?

If you don't need to indivdually include components, you can use the rollup CSS and JS:

- `<link rel="stylesheet" media="all" href="{{ siteConfig.siteInformation.url}}css/styles.css" />`
- `<script src="{{ siteConfig.siteInformation.url}}scripts/scripts.js"></script>`
