<script src="https://cdnjs.cloudflare.com/ajax/libs/lunr.js/2.3.6/lunr.js"></script>
{# https://lunrjs.com/docs/index.html #}
<script src="{{ '/search_index.js' | url }}"></script>

<div class="vf-search-client-side vf-grid | vf-content">
  <div class="results-container" data-search-results>
    Loading...
  </div>
</div>

<script type="text/javascript">
  window.onload = function () {
    bootstrapSearch();
  };
</script>
