---
title: Boilerplate for a generic page
subtitle: Use this boilerplate pattern for generic pages.
section: patterns
date: 2018-08-22 12:24:50
tags: posts
layout: layouts/boilerplate.njk
---
<!DOCTYPE html>
<html lang="en" class="vf-no-js">
<head>
  {% render "@vf-no-js" %}
  <title>{{ pagination.items[0].name or title or (renderData and renderData.title)}} | {{ siteConfig.siteInformation.title }}</title>

  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1, minimum-scale=1" name="viewport">

  {% render "@embl-favicon" %}
  {% render "@embl-content-meta-properties", {"meta_who": "Group Jane", "meta_where": "Barcelona", "meta_what": "research", "meta_active": "what"} %}

  {% if serverInfo.environment == "development" %}
  <link rel="stylesheet" media="all" href="{{ '/css/styles.css' | url }}" />
  {% else %}
  <link rel="stylesheet" href="https://dev.assets.emblstatic.net/embl-design-system/develop/css/styles.css">
  {% endif %}
</head>
<body>
    <link rel="import" href="https://dev.beta.embl.org/api/v1/pattern.html?filter-content-type=article&filter-id=574&pattern=node-body&source=contenthub" data-target="self" data-embl-js-content-hub-loader>


  <div class="vf-body">
    {% render "@vf-intro" %}

    <section class="vf-news-container | embl-grid embl-grid--has-sidebar">

      {% render '@vf-section-header', {"section_title":"Latest Press Releases"} %}

      <div class="vf-news-container__content">
        {% render '@vf-summary--news' %}
        {% render '@vf-summary--news' %}
        {% render '@vf-summary--news' %}
        {% render '@vf-summary--news' %}
      </div>

      <div class="vf-news-container__sidebar">

      </div>

    </section>

    <section class="vf-news-container | embl-grid embl-grid--alt">

      {% render '@vf-section-header', {'section_title': 'Latest Press Releases'} %}

      {% render '@vf-figure' %}

    </section>

  </div>

  {% include "notice-boilerplate.njk" %}

  {% include "footer.njk" %}

</body>
</html>
