---
title: EMBL Group page
subtitle: A pattern for group pages.
section: patterns
date: 2018-08-22 12:24:50
tags: posts
layout: layouts/boilerplate.njk
---
<!DOCTYPE html>
<html lang="en" class="vf-no-js">
<head>
  {% render "@vf-no-js" %}
  <title>{{ pagination.items[0].name or title or (renderData and renderData.title)}} | {{ siteConfig.siteInformation.title }}</title>

  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1, minimum-scale=1" name="viewport">

  {% render "@embl-favicon" %}
  {% render "@embl-content-meta-properties", {"meta_who": "Group Jane", "meta_where": "Barcelona", "meta_what": "research", "meta_active": "what"} %}

  {% if serverInfo.environment == "development" %}
  <link rel="stylesheet" media="all" href="{{ '/css/styles.css' | url }}" />
  {% else %}
  <link rel="stylesheet" href="https://dev.assets.emblstatic.net/embl-design-system/develop/css/styles.css">
  {% endif %}
</head>
<body>
  <link rel="import" href="https://dev.beta.embl.org/api/v1/pattern.html?filter-content-type=article&filter-id=574&pattern=node-body&source=contenthub" data-target="self" data-embl-js-content-hub-loader>


  <div class="vf-body vf-body__main-content embl-group-page--bg-color">
    <nav class="vf-breadcrumbs embl-breadcrumbs-lookup" aria-label="Breadcrumb" data-embl-js-breadcrumbs-lookup>
      <div class="vf-list vf-list--inline | vf-breadcrumbs__list | embl-breadcrumbs-lookup--ghosting"></div>
    </nav>

    <div class="vf-grid">
      <link rel="import" href="https://dev.beta.embl.org/api/v1/pattern.html?pattern=node-body&filter-content-type=article&filter-id=580&source=contenthub" data-target="self" data-embl-js-content-hub-loader="">
    </div>

    {% render '@vf-header--inlay' %}

    <section class="vf-inlay">
      <section class="vf-inlay__content vf-u-background-color-ui--white">

        <main class="vf-inlay__content--main">
          <div class="vf-text vf-text-body--1">The Häring group aims to understand the molecular machinery that organises eukaryotic genomes. <a class="vf-link" href="http://vfthemeprototype.lndo.site/about/">Read more about the Häring group</a></div>  </main>
        </main>

        <aside class="vf-inlay__content--additional">
        <article class="vf-summary vf-summary--profile vf-summary--profile-r">
          <img class="vf-summary__image vf-summary__image--avatar" src="{{ '../../assets/vf-summary/assets/vf-summary--profile-img.png' | url }}" alt="">
          <h3 class="vf-summary__title">
            <a href="javascript:void(0);" class="vf-summary__link">FirstName Surname</a>
          </h3>
          <p class="vf-summary__text">EMBL Press Office</p>
          <p class="vf-summary__email">
            <a href="mailto:contact@persons.com" class="vf-summary__link vf-summary__link--secondary">contact@persons.com</a>
          </p>
        </article>
      </aside>

      <hr class="vf-divider" />
    </section>

    <section class="vf-inlay__content vf-u-background-color-ui--white">
      <main class="vf-inlay__content--main">
        {% render '@vf-content' %}
      </main>

      <aside class="vf-inlay__content--additional">
        {% render '@vf-box' %}
      </aside>

    </section>

  </section>
</div>


  {% include "notice-boilerplate.njk" %}

  {% include "footer.njk" %}

</body>
</html>
