---
is_index: true
title: Patterns for digital medium
subtitle: More than components, this is how you should do things.
section: patterns
tags: sections
date: 2019-07-20 12:24:50
layout: layouts/section.njk
---

## Making websites

General guidance, tips and screenshots.

## 1. The Visual Framework for EMBL.org

The Visual Framework (VF) is designed with the needs of life science websites and services. It goes beyond guidance for tables, graphs, data-heavy typography and focuses on sane defaults. It implements CSS in a way that does not interfere with existing components. The VF 2.0 enables consistency and portability, it is extensible, modular and overridable; here to help and not get in the way.

### 2. Templates and themes

**Eleventy boilerplate**
  - A static site generator which transforms a directory of templates (of varying types) into HTML — makes use of the Visual Framework for styling.

**WordPress theme**
  - Some text on using the WP theme.

**Angular boilerplate**
  - To come.

**React boilerplate**
  - To come.

**Vanilla HTML boilerplates**
  - To come.

### 3. Patterns and components

Once you've started with a template above follow guidance and copy-paste examples from the EMBL VF Pattern+Component library.

Where components offer technical implementations, patterns and boilerplates show
how things should come together to facilitate tasks and goals.
